<%
locals.OLSKPageTitle = OLSKTranslate('XXYYHomeTitle');
%>

<%- include('../shared-views/header.ejs') %>

<h1><%= locals.OLSKPageTitle %></h1>

<p><%= OLSKTranslate('XXYYHomeContent') %></p>

<pre><%= JSON.stringify({
	OLSKSharedActiveRouteConstant: OLSKSharedActiveRouteConstant,
	OLSKCanonicalFor: OLSKCanonicalFor(OLSKSharedActiveRouteConstant),
	OLSKCanonicalLocalizedFor: OLSKCanonicalLocalizedFor(OLSKSharedActiveRouteConstant),
	OLSKSharedPageLanguagesAvailable: OLSKSharedPageLanguagesAvailable,
	OLSKSharedPageCurrentLanguage: OLSKSharedPageCurrentLanguage,
	}, 0, '  ') %>
</pre>

<%- include('../shared-views/language-switcher.ejs') %>

<hr>

<p><small><%= XXYYPageData1 %> - <%= XXYYPageData2 %></small></p>

<%- include('../shared-views/footer.ejs') %>
