<%
locals.ROCOPageTitle = ROCOTranslate('XXYYHomeTitle');
%>

<%- include('../shared-views/header.ejs') %>

<h1><%= locals.ROCOPageTitle %></h1>

<p><%= XXYYPageData1 %> - <%= XXYYPageData2 %></p>

<p><%= ROCOTranslate('XXYYHomeContent') %></p>

<pre><%= JSON.stringify({
	ROCOSharedActiveRouteConstant: ROCOSharedActiveRouteConstant,
	ROCOCanonicalFor: ROCOCanonicalFor(ROCOSharedActiveRouteConstant),
	}, 0, "  ") %>
</pre>

<%- include('../shared-views/footer.ejs') %>
