<%
locals.ROCOPageTitle = 'Welcome'; // #localize
%>

<%- include('../shared-views/header.ejs') %>

<h1><%= locals.ROCOPageTitle %></h1>

<p><%= XXYYPageContent %></p>

<ul>
	<li>ROCOSharedActiveRouteConstant: <%= ROCOSharedActiveRouteConstant %></li>
</ul>

<%- include('../shared-views/footer.ejs') %>
