<%
locals.ROCOPageTitle = ROCOTranslate('XXYYHomeTitle');
%>

<%- include('../shared-views/header.ejs') %>

<h1><%= locals.ROCOPageTitle %></h1>

<p><%= ROCOTranslate('XXYYHomeContent') %></p>

<pre><%= JSON.stringify({
	ROCOSharedActiveRouteConstant: ROCOSharedActiveRouteConstant,
	ROCOCanonicalFor: ROCOCanonicalFor(ROCOSharedActiveRouteConstant),
	ROCOCanonicalLocalizedFor: ROCOCanonicalLocalizedFor(ROCOSharedActiveRouteConstant),
	ROCOSharedPageLanguagesAvailable: ROCOSharedPageLanguagesAvailable,
	ROCOSharedPageCurrentLanguage: ROCOSharedPageCurrentLanguage,
	}, 0, '  ') %>
</pre>

<%- include('../shared-views/language-switcher.ejs') %>

<hr>

<p><small><%= XXYYPageData1 %> - <%= XXYYPageData2 %></small></p>

<%- include('../shared-views/footer.ejs') %>
